$card-size: 200px;

.catalog {
  display: grid;
  grid-template-columns: repeat(1, $card-size);
  justify-content: center;
  gap: 48px;
  max-width: 944px;
  margin: 0 auto;

  &__card {
    display: grid;
    justify-content: center;
    align-content: center;
    width: 200px;
    height: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  @media (min-width: 488px) {
    grid-template-columns: repeat(2, $card-size);
  }

  @media (min-width: 768px) {
    grid-template-columns: repeat(3, $card-size);
  }

  @media (min-width: 1024px) {
    grid-template-columns: repeat(4, $card-size);
  }
}
